NODE_ENV=development
PORT=0000
# MAILING
SMTP_PORT=587
FROM_ADDRESS=***@**.**
# SECRET
SECRET=****
# REDIS
REDIS_URL=redis://***
REDIS_PORT=0000
REDIS_HOST=**
REDIS_PASSWORD=***
REDIS_USERNAME=***
REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL

# REDIS_REMOTE
# REDIS_URL=redis://******
# REDIS_PORT=0000
# REDIS_HOST=***.com
# REDIS_PASSWORD=***********

# SENTRY
SENTRY_ENVIRONMENT=development
SENTRY_DSN=https://***@***.ingest.sentry.io/***
#
FRONTEND_URL=http://localhost:8080


DATABASE_URL="postgresql://***:***@***:000/database?schema=public"
POSTGRES_USER='***'
POSTGRES_PASSWORD='**'
POSTGRES_DB='database'
DB_PORT=5432

# OAUTH
FACEBOOK_CLIENT_ID=00000000000
FACEBOOK_CLIENT_SECRET=00000000000
GOOGLE_CLIENT_ID=****.com
GOOGLE_CLIENT_SECRET=*********
BASE_URL=http://**:000
GITHUB_CLIENT_ID=****.com
GITHUB_CLIENT_SECRET=*********

#Local development
ETHEREAL_NAME=***
ETHEREAL_USERNAME=***
ETHEREAL_PASSWORD=***

# AUTH
USE_SESSION=false
ACCESS_TOKEN_SECRET=nsdkndiu09830
ACCESS_TOKEN_EXP=1
REFRESH_TOKEN_SECRET=nsdkndiu09830
REFRESH_TOKEN_EXP=1
